<mat-dialog-content>
  <mat-card>
    <mat-card-title>
      Neuen Wettkampf erstellen
    </mat-card-title>
  <form [formGroup]="tournamentForm" class="formfield">
    <mat-form-field>
      <input matInput placeholder="Wettkampfname" formControlName="name">
      <mat-error >Der Wettkampf muss einen namen haben</mat-error>
    </mat-form-field>
    <mat-form-field style="margin-bottom: 10px;">
      <mat-select placeholder="Typ des Wettkampfs" formControlName="typ">
          <mat-option value="Weltmeisterschaft">Weltmeisterschaft</mat-option>
          <mat-option value="Olympiade">Olympiade</mat-option>
          <mat-option value="Freizeit">Freizeit</mat-option>
        </mat-select>
      <mat-error >Eine Wettkampftyp muss eingetragen sein</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="createNewTournament()" [disabled]="!tournamentForm.valid">Wettkampf erstellen</button>
    <button mat-raised-button color="warn" (click)="close()" >Abbrechen</button>
  </form>
</mat-card>
</mat-dialog-content>