<mat-dialog-content>
  <mat-card>
    <mat-card-title>
      Bearbeite "{{data.team.name}}"
    </mat-card-title>
    <form [formGroup]="teamForm" class="formfield">
      <mat-form-field>
        <input matInput placeholder="Teamname" formControlName="name">
        <mat-error >muss ausgefüllt sein</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Teammotto" formControlName="motto">
        <mat-error >muss ausgefüllt sein</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="changeTeam()" [disabled]="!teamForm.valid">Team bearbeiten</button>
      <button mat-raised-button color="warn" (click)="close()" >Abbrechen</button>
    </form>
  </mat-card>
</mat-dialog-content>