<div class="navbar">
  <a class="navButtons" mat-button routerLink='/home' routerLinkActive='active'>Home</a>
  <a class="navButtons" mat-button routerLink='/teams' routerLinkActive='active'>Teameinstellungen</a>
  <a class="navButtons" mat-button routerLink='/chart' routerLinkActive='active'>Tabelle</a>
  <a class="navButtons" mat-button routerLink='/game' routerLinkActive='active'>Spielen</a>
  <a class="navButtons" mat-button routerLink='/history' routerLinkActive='active'>History</a>
</div>
<mat-spinner *ngIf="loading" class="mat-spinner-color" mode="indeterminate"></mat-spinner> 