<div class="navbar">
   <h1 style="color: white; padding-left: 20px; padding-top: 10px;">Wähle einen Wettkampf aus</h1>
  </div>
<mat-card>
  <mat-card-subtitle>
      <mat-form-field >
          <mat-select [(value)]="selectedUser" placeholder="Authentication">
            <mat-option value="user">user</mat-option>
            <mat-option value="admin">admin</mat-option>
          </mat-select>
        </mat-form-field>
  </mat-card-subtitle>
  
  <mat-card-title>
    Aktive Wettkämpfe
  </mat-card-title>
  <mat-list *ngFor="let tournament of tournaments">
    <mat-list-item class="stripedList">
      <label style="width: 500px; height: 30px;" (click)="setTournament(tournament.id)">{{tournament?.name}}</label>
    </mat-list-item>
  </mat-list>
  <button mat-raised-button color="primary" style="margin-top: 15px;" (click)="newTournament()">Neuen Wettkampf
    erstellen</button>
</mat-card>