<div class="navbar">
  <div style="padding-top: 13px;">
   <label style="color: white; padding-left: 20px; font-size: 27px;">Wähle einen Wettkampf aus</label>
    <button mat-raised-button color="primary" style="float:right; z-index: 991;  margin-right: 10px;" (click)="newTournament()">Neuen Wettkampf
      erstellen</button>
    </div>
  </div>
<mat-card>
  <mat-card-subtitle>
      <mat-form-field >
          <mat-select [(value)]="selectedUser" placeholder="Authentication">
            <mat-option value="user">user</mat-option>
            <mat-option value="admin">admin</mat-option>
          </mat-select>
        </mat-form-field>
  </mat-card-subtitle>
  <mat-card-title>
    Aktive Wettkämpfe
  </mat-card-title>
  <mat-list class="stripedList" *ngFor="let tournament of tournaments">
    <mat-list-item >
      <label style="width: 500px; height: 30px;" (click)="setTournament(tournament.id)">{{tournament?.name}}</label>
    </mat-list-item>
  </mat-list>
  <mat-card-title style="margin-top: 15px;">
      Abgeschlossene Wettkämpfe
    </mat-card-title>
</mat-card>