<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="heading">Name</mat-header-cell>
        <mat-cell *matCellDef="let team">{{team.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="motto">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="heading">Regel</mat-header-cell>
        <mat-cell *matCellDef="let team">{{team.motto}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef class="heading">Bearbeiten</mat-header-cell>
        <mat-cell *matCellDef="let team">
            <button *ngIf="user=='admin'" mat-raised-button color="warn" title="Team löschen" (click)="deleteTeam(team.id)"><i class="material-icons">cancel</i></button>
            <button mat-raised-button color="primary" title="Spieler hinzufügen" (click)="addPlayerToTeam(team.id)"><i class="material-icons">add_circle</i></button>
            <button mat-raised-button color="primary" title="Team bearbeiten" (click)="changeTeam(team.id)"><i class="material-icons">build</i></button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<button mat-raised-button color="primary" title="Neues Team erstellen" (click)="newTeam()" style="margin-left: 15px">Neues
    Team erstellen</button>
