.mat-grid-tile::ng-deep .mat-figure{
    justify-content: normal;
    align-items:baseline; 
}

.pics{
    width: 350px;
    height: 350px; 
}

.MatCardParent{
    max-width:800px; 
    margin: auto; 
    background-color: #eee;
    min-width:380px;
    padding: 0;
    padding-right: 2px;
}

@media screen and (max-width: 830px){

    .MatCardParent{
        width: 400px;
        margin:auto;
        padding-right: 2px;
    }
    .myMatCards{
        margin-right: 2px;
    }


    #rightCard{
        margin-right: 0px;
    }
}

.description{
    width:120px; 
    font-weight: bold;
    
}
:host /deep/ .mat-list-item-content {
    position: unset;
    align-items:baseline!important;
   
}

.myMatCards{
    width: 400px; 
    height: 350px;
    margin-left: 2px; 
}

.texts{
    margin-left: 10px;
}


